.myMessage {
  background: #dcf8c6;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  text-align: right;
  max-width: 60%;
  margin-left: auto;
}

.otherMessage {
  background: white;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 60%;
}